p#notice = notice

p
  strong Level:
  = @game.level

= link_to 'Edit', edit_game_path(@game)
'|
= link_to 'Back', games_path
'|
= link_to 'Start Game', controller: "games", action: "startgame", id: @game